/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
}

header .logo img {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

form {
    margin: 20px auto;
    width: 300px;
    text-align: left;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.btn:hover {
    background-color: #003366;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
